// Font Size Class to @extend
%small-font {
  font-size: .75rem;
  line-height: 1.5rem;
}

// Font Family Classes
.serif {
  font-family: $serif;
}

.sans-serif {
  font-family: $sans-serif;
}

// Header Typography
.cat-date-container {
  @extend %small-font;
  font-weight: bold;
}

h1.article-title {
  margin: 0.25rem 0 0.5rem;
  line-height: 1.75rem;
}

address.authors {
  @extend %small-font;
}

a.author-link {
  @extend %small-font;
  text-decoration: none;
  color: $accent-1;
  font-weight: bold;
}

// Article Content Typography

.article-content {
  @extend %small-font;
}

.article-nav {
  @extend %small-font;
}

.nav-level-1 a {
  color: $primary-dark;
  text-decoration: none;
}

.nav-level-2 a {
  color: $accent-1;
  text-decoration: none;
}
