// Font Families
$sans-serif: 'Oswald', sans-serif;
$serif: 'Merriweather', serif;

// Breakpoints
$small: 450px;
$medium: 680px;
$large: 1000px;

// Color Palette
$link-color: #5f91bb;

// Border
$border: 1px solid #dddddd;
