@import 'variables';
@import 'typography';
@import 'mixins';

.article {
  margin: auto;
  max-width: 600px;
  width: 600px;
}

.main {
  display: grid;
  grid-template-columns: 150px 450px;
}

.table-of-contents {
  border-top: $border;
  border-bottom: $border;
}

.article-content {
  border-top: $border;
}
