@import 'variables';
@import 'typography';
@import 'mixins';


.article {
  margin: auto;
  max-width: 600px;
  width: 600px;
}

.cat-date-container div {
  display: inline-block;
  padding-right: .5rem;
}

.category {
  border-right: $border;
  border-spacing: 0;
}

.publish-date {
  margin-left: .5rem;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.article-nav {
  width: 125px;
}

.article-content {
  width: 440px;
}


.table-of-contents {
  border-top: $border;
  border-bottom: $border;
  font-weight: bold;
}

%list-style {
  list-style: none;
}

.nav-level-1 {
  @extend %list-style;
  text-transform: uppercase;
  padding-left: 0;
  li {
    padding-left: 1rem;
  }
}

.nav-level-2 {
  @extend %list-style;
  text-transform: capitalize;
  padding-left: 1rem;
}

.share-links {
  margin: .5rem;
  display: flex;
  justify-content: space-around;
}

.article-content {
  border-top: $border;
}

.nav-level-1-active {
  background-color: #f4f4f4;
}

a.nav-level-2-active {
  color: black;
}
